<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<div data-behavior='messages'>
<!-- refactor the thing below -->
   <% @chatroom.messages.order(created_at: :desc).limit(100).reverse.each do |message| %>
    <div>
      <strong><%=message.user.username%></strong>
        <%= message.body %>
    </div>
   <% end %>
</div>

<%= form_for [@chatroom, Message.new], remote: true do |f| %>
  <%= f.text_area :body, row: 1, class: 'form-control', autofocus: true%>
  <%= f.submit %>
<% end %>